{% extends "layout.html" %} {% block title %} PIN required {% endblock %} {%
block main_content %}
<main>
  <div class="container">
    <div class="text-center">
      <form name="PIN" action="/joinMeeting" method="post">
        <h1>Password required</h1>
        <p>Please enter the meeting password to join.</p>
        <input type="text" hidden name="meeting_id" value="{{ meeting_id }}" />
        <input type="text" name="password" placeholder="Password" />
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</main>
{% endblock %}
