{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main_content %}
<main>
    <div class="container">
        <div class="text-center">
            <h2>{{ greeting }}, {{ username }}</b></h2>
            <h4> Not you? <a href="/logout"> Log out</a></h4>
            <h4> Click here for <a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi2-prod.dailystar.co.uk%2Fincoming%2Farticle26519336.ece%2FALTERNATES%2Fs615b%2F0_Screenshot-2022-03-12-at-111102.jpg&imgrefurl=https%3A%2F%2Fwww.dailystar.co.uk%2Freal-life%2Fmeet-women-who-say-people-26518218&tbnid=--NxgNNeHbxFgM&vet=12ahUKEwitovjYpPT4AhUHHcAKHdI1DKsQMygGegUIARCSAQ..i&docid=Hq2f8a_yYgdNqM&w=615&h=773&q=boobs&client=firefox-b-e&ved=2ahUKEwitovjYpPT4AhUHHcAKHdI1DKsQMygGegUIARCSAQ" target="_blank">boobs</a></h4>
        </div>
    </div> 
    <div class="container">
        <div class="text-center">
        {% if meetings %}
        {% for meeting in meetings %} 
            <a href="/meetings/{{ meeting[0] }}">
                    <div class="meeting_box">
                    <p>Name: {{ meeting[1] }}</p>
                    <p>Description: {{ meeting[2] }}</p>
                    <p>Location: {{ meeting[4] }}</p>
                    <p>Attendees: Feature not developed yet</p> 
                    <p>Status: {{ meeting[9] }}</p>
                </div>
            </a>
            <!-- Meeting details -->
            _________________________
        {% endfor %}
        {% else %}
            <h2>No meetings found</h2>
            <h3>Click <a href="/createMeeting">here</a> to create one!</h3>
        {% endif %}
        <br>
        {% if meetings %}
        <a href="/createMeeting">New</a>
        {% else %} 
        {% endif %}
        </div>
    </div>
</main>
{% endblock %}