<!-- CHANGE THIS ONCE DONE-->
{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block bootstrapJS %} 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %} 

{% block main_content %}
{% if update %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{ update }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<main>
<div id="dashboard">
            <h3>{{ greeting }}, {{ username }}</b></h3>
            <h6> Not you? <a href="/logout"> Log out</a></h6>
            <!-- <h4> Click here for <a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi2-prod.dailystar.co.uk%2Fincoming%2Farticle26519336.ece%2FALTERNATES%2Fs615b%2F0_Screenshot-2022-03-12-at-111102.jpg&imgrefurl=https%3A%2F%2Fwww.dailystar.co.uk%2Freal-life%2Fmeet-women-who-say-people-26518218&tbnid=--NxgNNeHbxFgM&vet=12ahUKEwitovjYpPT4AhUHHcAKHdI1DKsQMygGegUIARCSAQ..i&docid=Hq2f8a_yYgdNqM&w=615&h=773&q=boobs&client=firefox-b-e&ved=2ahUKEwitovjYpPT4AhUHHcAKHdI1DKsQMygGegUIARCSAQ" target="_blank">boobs</a></h4> -->
</div>
<div id="db-center">
    <div class="meetings">
        {% if meetingsManagingSummary %}
        {% for meeting in meetingsManagingSummary %} 
            <a href="/meetings/{{ meeting[0] }}">
                <div class="meeting_box">
                    <p  class="dash-p">Name: {{ meeting[1] }}</p>
                    <p  class="dash-p">Description: {{ meeting[2] }}</p>
                    <p  class="dash-p">Location: {{ meeting[4] }}</p>
                    <p  class="dash-p">Attendees: Feature not developed yet</p> 
                    <p  class="dash-p">Status: {{ meeting[9] }}</p>
                </div>
            </a>
            <!-- Meeting details 
             _________________________
                                        -->
    
        {% endfor %}
        {% endif %}
        <a href="/createMeeting">
        <div class="meeting_box">
            <p class="dash-p">Click to create one!</p>
        </div>
        </a>
        <br>
        {% if meetingsManagingSummary %}
        <a href="/createMeeting">New</a>
        {% else %} 
        {% endif %}

            <!-- <h2>Meetings you are attending.</h2>
            {% for meeting in meetingsAttendingSummary %}
                <a href="/meetings/{{ meeting[0] }}">
                    <div class="meeting_box">
                        <p>Name: {{ meeting[1] }}</p>
                        <p>Description: {{ meeting[2] }}</p>
                        <p>Location: {{ meeting[4] }}</p>
                        <p>Attendees: Feature not developed yet</p> 
                        <p>Status: {{ meeting[9] }}</p>
                    </div>
                </a>  
            {% else %} 
                <h2>No meetings found</h2>
            {% endfor %} -->

        </div>
</div>
</div>
</main>
{% endblock %}