{% extends "base.html" %}

{% block main_content %}
<main>
    <div class="container">
            <div class="text-center">
                <h1>Try for <b>Free!</b></h1>
                <p>By signing up, I agree to the Gather <a href="">Privacy Policy</a> and <a href="">Terms of Services</a>.</p>
                <form action="" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <!-- {{ form.email.label }} -->
                    {{ form.email(placeholder="example@domain.com") }}
                    <br />
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                    <br />
                    {% if registered == True %}
                        {{ form.password(placeholder="Password") }}
                        <br />
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                        <br />
                    {% endif %}
                    {{ form.submit() }}
                </form>
            </div>
    </div>
</main>
{% endblock %}