{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main_content %}
<main>
    <div class="container">
        <div class="text-center">
            <h1>Register</b></h1>
            <form action="/register" method="POST" >
                {{ form.hidden_tag() }}
                {{ form.firstName(placeholder="First Name") }}
                <br />
                {% for error in form.firstName.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                <br />
                {{ form.lastName(placeholder="Last Name") }}
                <br />
                {% for error in form.lastName.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                <br />
                {{ form.username(placeholder="username") }}
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                <p>E-mail</p>
                {{ form.email(placeholder="name@domain.com") }}
                <br />
                {% for error in form.email.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                <br />
                {{ form.password(placeholder="Password") }}
                <br />
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                <br />
                {{ form.submit() }}
                
             </form>
         </div>
    </div>
</main>
{% endblock %}