{% extends "layout.html" %}

{% block title %}
    Gather
{% endblock %}

{% block main_content %}
<main>
    <div class="container">
        <div class="text-center">
            <div class="welcomepage"> 
            <h1>Try for <b>free!</b></h1>
            <p>
                <!-- insert tagline here -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <div></div>
            <a href="/register"><button>Sign up!</button></a>
            <p> Already have an account? <a href="/login">Log in!</a></p> 
            </div>      
         </div>
    </div>
</main>
{% endblock %}

{% block logoAnimationScript %}
    <script type="text/javascript" src="{{ url_for('static', filename='logoAnimation.js') }}"></script>
{% endblock %}
<!-- The block below is a class I add to an element in layout.
     I use it so the logo animation is only displayed on this page, as to not annoy users by showing the animation on every refresh and redirect. -->
{% block animationClass %}gather{% endblock %}