:root {
  --brandcolour: #70B2F3;
  --hval: 50px;
}

body, html {
  background-color: #2D2D3F;
  color: #FFFFFF;
  height: 100vh;
  }

header {
  position: fixed;
  padding: 10px 0px 10px 0px;
  top: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: var(--hval);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: var(--hval);
  padding-bottom: 20px;
  }

footer {
  position: fixed;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 20px;
  background: var(--brandcolour);
  display: flex;
  align-items: center;
}

.logotext {
  color: var(--brandcolour);
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  font-weight: 300;
  text-align: center;
  }

a {
  color: var(--brandcolour);
  }

#submit {
    border:none;
    border-radius:1.5rem;
    padding: 0.5rem 1rem;
    width: 8rem;
    cursor: pointer;
    background: var(--brandcolour);
    color: #fff;
    font-weight: 500;
}

#email {
    padding: 0.5rem 1rem;
    border: 1px solid #6A6A6A;
    border-radius: 1.5rem;
    background-color: transparent;
}